body {
  font-family: 'Poppins', sans-serif;
  background: #f9f9f9;
  margin: 0;
}

.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Filter / select bar */
.select-bar {
  width: 400px;
  max-width: 90%;
  height: 50px;
  border: 1px solid blue;
  border-radius: 10px;
  font-size: large;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 10px;
  width: 100%;
  justify-items: center;
}

/* Card styles */
.card {
  background: white;
  padding: 15px;
  width: 300px;
  max-width: 90%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  margin-top: 20px;
  text-align: center;
  border: 1px solid blueviolet;
  
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  padding: 8px 12px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* For small screens */
}

.modal {
  background: white;
  padding: 25px;
  width: 90%;
  max-width: 500px;
  border-radius: 12px;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
  max-height: 90vh;
  overflow-y: auto;
}

.modal img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.modal-btn {
  padding: 8px 12px;
  background: rgb(65, 65, 248);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
  align-items: center;
  width: 100%;
}

.modal-btn:hover {
  background-color: blue;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
  color: red;
}

/* Fade in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* ================== Media Queries ================== */

/* Tablets */
@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 30px;
  }

  .container {
    padding: 30px 20px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card {
    width: 100%;
    padding: 12px;
  }

  .card img,
  .modal img {
    height: auto;
  }

  .select-bar {
    width: 100%;
    font-size: medium;
  }

  .modal {
    width: 95%;
    padding: 15px;
  }

  .btn,
  .modal-btn {
    padding: 6px 10px;
  }
}